html,Body, #root {
    color:rgb(20, 22, 51);
    background: linear-gradient(90deg, rgba(174,177,184,0.6951155462184874) 0%, rgba(222,228,233,1) 0%, rgba(238,239,241,1) 33%, rgba(232,238,244,1) 43%, rgba(239,240,241,1) 56%, rgba(207,213,221,1) 100%);
}

.header {
    font-family: 'Montserrat', sans-serif;
    box-sizing: content-box;
    text-align: center;
}

.main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, rgba(174,177,184,0.6951155462184874) 0%, rgba(222,228,233,1) 0%, rgba(238,239,241,1) 33%, rgba(232,238,244,1) 43%, rgba(239,240,241,1) 56%, rgba(207,213,221,1) 100%);
}

.sidenav {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(244, 244, 250);
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(242, 245, 251, 0.695);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 216);
}
.accordion {
    background-color: transparent;
    border-style: none;
}
.accordion-button {
    background-color: transparent;
    transform: none;
}
.accordion-item, 
.accordion-header {
    background-color: transparent;
    transform: none;
    border-style: none;
}

.card {
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(248, 249, 251, 0.695);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 216);
    
}

.accountform {
    font-family: 'Lato',sans-serif;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(244, 244, 250);
    border-color:  rgba(242, 245, 251, 0.695);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 216);
}

.studentform{
    font-family: 'Lato',sans-serif;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(244, 244, 250);
    border-color:  rgba(242, 245, 251, 0.695);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 216);
}

.donorform {
    font-family: 'Lato',sans-serif;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(244, 244, 250);
    border-color:  rgba(242, 245, 251, 0.695);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 216);
}

.signin {
    font-family: 'Lato',sans-serif;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(244, 244, 250);
    border-color:  rgba(242, 245, 251, 0.695);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 216);
}

.signup {
    font-family: 'Lato',sans-serif;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(244, 244, 250);
    border-color:  rgba(242, 245, 251, 0.695);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(213, 213, 216);
}

