.main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(20, 22, 51);
    background: linear-gradient(90deg, rgba(174,177,184,0.6951155462184874) 0%, rgba(222,228,233,1) 0%, rgba(238,239,241,1) 33%, rgba(232,238,244,1) 43%, rgba(239,240,241,1) 56%, rgba(207,213,221,1) 100%);
}

.header {
        box-sizing: content-box;
        text-align: center;
}


.sidenav {
        border-color: rgb(22,45,78);
        border-width: 1px;
        text-align: center;
        border-style: outset;
}

.card {
    border-style: outset;
    border-color:  rgb(22,45,78);
    border-radius: 10px;
}

.signin {
    box-sizing: content-box;
}

.signup {
    box-sizing: content-box;
}