.navbar-nav {
    border-radius: 0,5px;
    width: 180px;
    margin: 20px;
    position: fixed;
    display: inline;
    justify-content:center;
    align-content:center;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: transparent;
}

@media (min-width: 768px) {
    .main {
    padding-right: 40px;
    padding-left: 220px; /* 180 + 40 */
    }
}